.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
__pycache__/
/*.tar.gz
/*.Rcheck
/check
/coverage
/artifacts
/.cargo-target
/target
/src/.cargo
/src/vendor
/src/rust/target
/src/rust/vendor-config.toml
/src/rust/vendor.tar.xz
/src/*.o
/src/*.so
